$main-font: "Lato", sans-serif;
$container-width: 1100px;
$nav-width: 625px;
$space: 3px;
$header-font-size: 18px;
$text-font-size: 16px;

$header-color: #353738;
$text-color: #848789;
$green: #64c29e;
$main-bg-color: #f7f7f7;
$secondary-bg-color: #282f35;
